<div class="container">
    <div class="blogs">
        <h2>Add Blog</h2>
        <div class="blog" >
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" formControlName="title">
                    </div>

                    <label for="desc" class="col-sm-2 col-form-label">Description</label>

                    <div class="col-sm-10">
                        <textarea class="form-control" id="desc" formControlName="desc"></textarea>
                    </div>

                    <label for="tags" class="col-sm-2 col-form-label">Tags</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tags" formControlName="tags">
                    </div>

                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Add Blog</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>