.container {
    width: 60%;
    margin: 0 auto;
    padding: 2px 16px;
    // background-color: #f5f5f5;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 5px;
}

.tags {
    margin-bottom: 20px;

    .tag {
        padding: 10px;
        margin-bottom: 10px;
        display: inline-block;

        a {
            display: inline-block;
            background-color: #d7d6d6;
            padding: 2px 5px;
            margin-right: 5px;
            font-size: 20px;
            color: #333;
            border-radius: 2px;
            text-decoration: none;
        }
    }
}