<div class="container mx-auto px-8 sm:px-8 lg:px-60 mt-2">
    <h2 class="text-center text-2xl font-bold mb-4">Users List</h2>
    <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }" class="hidden lg:block">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Role</th>
                <th>Posts Count</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.firstName }} {{ product.lastName }}</td>
                <td>{{ product.email }}</td>
                <td>{{ product.username }}</td>
                <td>{{ product.role }}</td>
                <td>{{ product.postCount }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns?.length">No users found</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="lg:hidden">
        @for (user of users; track $index) {
        <div class="border border-gray-200 rounded-lg p-4 mb-4">
            <div class="flex">
                <div>
                    <p class="font-bold">{{ user.firstName }} {{ user.lastName }} ({{ user.role.charAt(0).toUpperCase() + user.role.slice(1) }})</p>
                    <p class="text-gray-500">{{ user.email }}</p>
                    <p class="text-gray-500">{{ user.username }}</p>
                    <p class="text-gray-500">{{ user.postCount }} posts</p>
                </div>
            </div>
        </div>
        }
    </div>
</div>