<nav class="bg-gray-200">
    <ul class="flex">
        <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true} class="px-4 py-2 hover:bg-gray-300">Home</a></li>
        <li><a routerLink="/blogs" routerLinkActive="active-link" class="px-4 py-2 hover:bg-gray-300">Blogs</a></li>
        <li><a routerLink="/tags" routerLinkActive="active-link" class="px-4 py-2 hover:bg-gray-300">Tags</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile" routerLinkActive="active-link" class="px-4 py-2 hover:bg-gray-300">Profile</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active-link" class="px-4 py-2 hover:bg-gray-300">Login</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="" (click)="logout()" class="px-4 py-2 hover:bg-gray-300">Logout</a></li>
    </ul>
</nav>