<nav class="py-4 px-8 sm:px-6 lg:px-72 border-b-2">
        <div class="container mx-auto flex justify-between items-center">
                <a routerLink="/" routerLinkActive="active-link underline" [routerLinkActiveOptions]="{ exact: true }"
                        class="text-black text-3xl font-bold">Blogs</a>
                <div class="flex items-center space-x-8 text-black text-lg">
                        <div class="block lg:hidden md:hidden">
                                <span [class]="menuVisible ? 'pi pi-times' : 'pi pi-align-right'"
                                        (click)="toggleMenu()"></span>
                        </div>
                        <ng-container *ngFor="let link of links">
                                <a *ngIf="link.condition" [routerLink]="link.path"
                                        routerLinkActive="active-link underline"
                                        class="hover:underline hidden lg:block md:block"
                                        (click)="link.action ? link.action() : null">{{ link.label }}</a>
                        </ng-container>
                </div>
        </div>
        <div [class.hidden]="!menuVisible"
                class="flex flex-col lg:flex-row items-center space-y-4 lg:space-y-0 lg:space-x-8">
                <ng-container *ngFor="let link of links">
                        <a *ngIf="link.condition" [routerLink]="link.path" routerLinkActive="active-link underline"
                                class="hover:underline" (click)="hideMenu(); link.action ? link.action() : null">{{
                                link.label }}</a>
                </ng-container>
        </div>
</nav>