<app-breadcrumbs [breadcrumbs]="[{name: 'Home', url: '/'}]" [active]="'Profile'"></app-breadcrumbs>
<div class="container">
    <div class="profile-details">
        <h2>Profile Details</h2>
        <p>Name: {{ profile.firstName }} {{ profile.lastName }}</p>
        <p>Email: {{ profile.email }}</p>
        <!-- Add more profile details here -->
    </div>
    <div class="blogs">
        <h2>All Blogs</h2>
        <div class="blog" *ngFor="let blog of blogs">
            <h3><a [routerLink]="['/blogs',blog._id]">{{blog.title}}</a></h3>

            <div class="blog-meta">
                <span>Author: {{blog.author}}</span> |
                <span>Published: {{blog.createdAt | date:'medium'}}</span>

                <div class="blog-desc">
                    <p>{{blog.desc}}</p>
                </div>

                <div class="tags">
                    <span *ngFor="let tag of blog.tags">{{tag}}</span>
                </div>
            </div>
            <!-- <div class="edit-blog-container" *ngIf="isLoggedIn && blog.authorId === currentUserId">
                <a [routerLink]="['/edit', blog._id]">Edit Blog</a>
            </div>
            <div class="delete-blog-container" *ngIf="isLoggedIn && blog.authorId === currentUserId">
                <a (click)="deleteBlog(blog._id)">Delete Blog</a>
            </div> -->
        </div>
    </div>
</div>