<div class="container">
    <div class="blogs">
        <h2>Edit Blog</h2>
        <div class="blog">
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <label for="title">Title</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="title" formControlName="title">
                </div>

                <label for="desc">Description</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="desc" formControlName="desc">
                </div>

                <label for="tags">Tags</label>
                <div class="form-group">
                    <input type="text" class="form-control" id="tags" formControlName="tags">
                </div>

                <label for="content">Content</label>
                <div class="form-group">
                    <textarea class="form-control" id="content" formControlName="content"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>