<h1>Reset Password</h1>

<div class="container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">E-mail<span class="text-red-500">*</span></label>
            <input type="text" class="form-control" id="email" formControlName="email" />
            <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="error-message text-red-500">E-mail is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password<span class="text-red-500">*</span></label>
            <input type="password" class="form-control" id="password" formControlName="password" />
            <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="error-message text-red-500">Password is required</div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password<span class="text-red-500">*</span></label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="error-message">Confirm Password is required</div>
            <div *ngIf="resetPasswordForm.errors?.['notSame'] && resetPasswordForm.get('confirmPassword')?.touched" class="error-message text-red-500">
                Passwords do not match
            </div>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </div>
    </form>
    <div *ngIf="message" class="message">{{ message }}</div>
    <div *ngIf="errorMessage" class="errorMessage text-red-500">{{ errorMessage }}</div>
    <div class="login-message">
        <p>Remembered your password? <a routerLink="/login">Login here</a>.</p>
    </div>
    <div class="register-message">
        <p>Don't have an account? <a routerLink="/register">Register here</a>.</p>
    </div>
</div>