<h1 class="text-2xl font-bold text-center mb-4">Reset Password</h1>

<div class="container mx-auto p-4">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-5">
            <label for="email" class="text-lg font-bold">E-mail<span class="text-red-500">*</span></label>
            <input type="text" class="w-full p-2 border border-gray-300 rounded" id="email" formControlName="email" />
            <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="error-message text-red-500">E-mail is required</div>
        </div>
        <div class="form-group mb-5">
            <label for="password" class="text-lg font-bold">Password<span class="text-red-500">*</span></label>
            <input type="password" class="w-full p-2 border border-gray-300 rounded" id="password" formControlName="password" />
            <div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="error-message text-red-500">Password is required</div>
        </div>
        <div class="form-group mb-5">
            <label for="confirmPassword" class="text-lg font-bold">Confirm Password<span class="text-red-500">*</span></label>
            <input type="password" class="w-full p-2 border border-gray-300 rounded" id="confirmPassword" formControlName="confirmPassword" />
            <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched" class="error-message">Confirm Password is required</div>
            <div *ngIf="resetPasswordForm.errors?.['notSame'] && resetPasswordForm.get('confirmPassword')?.touched" class="error-message text-red-500">
                Passwords do not match
            </div>
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="resetPasswordForm.invalid" class="block mx-auto px-4 py-2 bg-blue-500 text-white rounded cursor-pointer">Reset Password</button>
        </div>
    </form>
    <div *ngIf="message" class="message text-center">{{ message }}</div>
    <div *ngIf="errorMessage" class="errorMessage text-red-500 text-center">{{ errorMessage }}</div>
    <div class="login-message text-center">
        <p>Remembered your password? <a routerLink="/login" class="text-blue-500 underline">Login here</a>.</p>
    </div>
    <div class="register-message text-center">
        <p>Don't have an account? <a routerLink="/register" class="text-blue-500 underline">Register here</a>.</p>
    </div>
</div>