<h1 class="text-2xl text-center font-bold mb-4">Register Page</h1>

<div class="container mx-auto">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto">
        <div class="mb-4">
            <label for="firstName" class="block">First Name<span class="text-red-500">*</span></label>
            <input type="text" class="form-control border border-gray-300 rounded-md p-2 w-full" id="firstName"
                formControlName="firstName" required minlength="2" maxlength="30" />
            <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched"
                class="error-message text-red-500">First Name is required</div>
            <div *ngIf="registerForm.get('firstName')?.errors?.['minlength'] || registerForm.get('firstName')?.errors?.['maxlength']"
                class="error-message text-red-500">First Name should have between 2 and 30 characters</div>
        </div>
        <div class="mb-4">
            <label for="lastName" class="block">Last Name<span class="text-red-500">*</span></label>
            <input type="text" class="form-control border border-gray-300 rounded-md p-2 w-full" id="lastName"
                formControlName="lastName" required minlength="2" maxlength="30" />
            <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched"
                class="error-message text-red-500">Last Name is required</div>
            <div *ngIf="registerForm.get('lastName')?.errors?.['minlength'] || registerForm.get('lastName')?.errors?.['maxlength']"
                class="error-message text-red-500">Last Name should have between 2 and 30 characters</div>
        </div>
        <div class="mb-4">
            <label for="username" class="block">Username<span class="text-red-500">*</span></label>
            <input type="text" class="form-control border border-gray-300 rounded-md p-2 w-full" id="username"
                formControlName="username" (input)="checkUsername()" required minlength="4" maxlength="20" />
            <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
                class="error-message text-red-500">Username is required</div>
            <div *ngIf="registerForm.get('username')?.errors?.['minlength'] || registerForm.get('username')?.errors?.['maxlength']"
                class="error-message text-red-500">Username should have between 4 and 20 characters</div>
            <div *ngIf="usernameTaken == 'Username not available'" class="error-message text-red-500">Username is taken
            </div>
            <div *ngIf="usernameTaken == 'Username available'" class="success-message text-green-500">Username is
                available</div>
        </div>
        <div class="mb-4">
            <label for="email" class="block">E-mail<span class="text-red-500">*</span></label>
            <input type="email" class="form-control border border-gray-300 rounded-md p-2 w-full" id="email"
                formControlName="email" required />
            <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                class="error-message text-red-500">E-mail is required</div>
        </div>
        <div class="mb-4">
            <label for="password" class="block">Password<span class="text-red-500">*</span></label>
            <input type="password" class="form-control border border-gray-300 rounded-md p-2 w-full" id="password"
                formControlName="password" required minlength="6" maxlength="20" />
            <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                class="error-message text-red-500">Password is required</div>
            <div *ngIf="registerForm.get('password')?.errors?.['minlength'] || registerForm.get('password')?.errors?.['maxlength']"
                class="error-message text-red-500">Password should have between 6 and 20 characters</div>
        </div>
        <div class="mb-4">
            <button type="submit" [disabled]="registerForm.invalid"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button>
        </div>
        <div class="login-message text-center">
            <p>Already have an account? <a routerLink="/login" class="text-blue-500">Login here</a>.</p>
        </div>
    </form>
</div>