<div class="container mx-auto px-8 sm:px-8 lg:px-60 mt-2">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
    <h2 class="text-2xl font-bold mb-4">All Blogs</h2>
    <!-- Search Bar -->
    <div class="search-bar mb-4">
        <input type="text" class="w-full border border-gray-300 rounded-lg p-2" placeholder="Search Blogs..."
            [(ngModel)]="searchTerm" (input)="searchBlogs()" />
    </div>

    @if (!loading) {
    <div class="all-blogs">
        <div class="blog grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
            @for (blog of blogs; track $index) {
            <div class="bg-white rounded-lg shadow-md p-4">
                <h3 class="text-xl font-semibold mb-2"><a [routerLink]="[blog._id]">{{blog.title}}</a></h3>

                <div class="blog-meta text-gray-500 text-sm mb-2">
                    <span><a class="text-blue-500 hover:text-blue-700"
                            [routerLink]="['/profile', blog.author]">{{blog.author}}</a></span> |
                    <span>{{blog.createdAt | date:'fullDate'}}</span> | <span>Views: {{blog.visitCount}}</span>
                </div>

                <div class="blog-desc mb-2">
                    <p>{{blog.desc}}</p>
                </div>

                <div class="tags">
                    @for (tag of blog.tags; track $index) {
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{tag}}</span>
                    }
                </div>
            </div>
            }
        </div>
    </div>
    }

    @if (!loading && !blogs) {
    <div class="bg-white rounded-lg shadow-md p-4">
        <p>No blogs found.</p>
    </div>
    }

    @if (loading) {
    <div class="loading-card">
        <div class="bg-white rounded-lg shadow-md p-4">
            <div class="animate-pulse">
                <div class="h-4 bg-gray-200 rounded w-1/2 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-1/4 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-3/4 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-1/3 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-2/3 mb-2"></div>
            </div>
        </div>
    </div>
    }

    @if (!loading && blogs) {
    <div class="flex justify-center gap-1 mt-4">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="prevPage()"
            [disabled]="currentPage === 1">
            <i class="pi pi-chevron-left"></i>
        </button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="nextPage()"
            [disabled]="currentPage === totalBlogPosts">
            <i class="pi pi-chevron-right"></i>
        </button>
    </div>
    }
</div>