<h2 class="text-2xl font-bold text-center p-2">Add Blog</h2>
<div class="container mx-auto p-4">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto mt-2">
        <div class="mt-2">
            <p-floatLabel>
                <input type="text" class="form-control border border-gray-300 rounded-md p-2 w-full" id="title"
                    formControlName="title">
                <label for="title">Title</label>
            </p-floatLabel>
            <div *ngIf="blogForm.get('title')?.invalid && blogForm.get('title')?.touched" class="mt-2 text-red-500">
                <div *ngIf="blogForm.get('title')?.errors?.['required']">Title is required</div>
            </div>
        </div>

        <div class="mt-8">
            <p-floatLabel>
                <input type="text" class="form-control border border-gray-300 rounded-md p-2 w-full" id="desc"
                    formControlName="desc">
                <label for="desc">Description</label>
            </p-floatLabel>
            <div *ngIf="blogForm.get('desc')?.invalid && blogForm.get('desc')?.touched" class="mt-2 text-red-500">
                <div *ngIf="blogForm.get('desc')?.errors?.['required']">Description is required</div>
            </div>
        </div>

        <div class="mt-8">
            <div class="p-fluid">
                <p-floatLabel>
                    <p-chips id="tags" formControlName="tags" [max]="max" [variant]="'filled'" />
                    <label for="tags">Tags</label>
                </p-floatLabel>
            </div>
            <div *ngIf="blogForm.get('tags')?.invalid && blogForm.get('tags')?.touched" class="mt-2 text-red-500">
                <div *ngIf="blogForm.get('tags')?.errors?.['required']">Tags are required</div>
            </div>
        </div>

        <label for="featured" class="block mt-4">Featured</label>
        <div class="mt-1 relative rounded-md">
            <input type="checkbox" class="form-checkbox h-5 w-5 text-indigo-600" id="featured"
                formControlName="featured">
            <div *ngIf="blogForm.get('featured')?.invalid && blogForm.get('featured')?.touched"
                class="mt-2 text-red-500">
                <div *ngIf="blogForm.get('featured')?.errors?.['required']">Featured is required</div>
            </div>
        </div>

        <label for="content" class="block mt-4">Content</label>
        <p-editor id="content" formControlName="content" [style]="{ height: '320px' }"></p-editor>
        <div *ngIf="blogForm.get('content')?.invalid && blogForm.get('content')?.touched" class="mt-2 text-red-500">
            <div *ngIf="blogForm.get('content')?.errors?.['required']">Content is required</div>
        </div>

        <button type="submit"
            class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2"
            [disabled]="blogForm.invalid">Add Blog</button>
    </form>
</div>