<div class="container">
    <div class="featured-blogs">
        <h2>Tag: {{id}}</h2>
        <div class="blog" *ngFor="let blog of blogs">
            <h3><a [routerLink]="['blogs', blog._id]">{{blog.title}}</a></h3>

            <div class="blog-meta">
                <span>Author: {{blog.author}}</span> |
                <span>Published: {{blog.createdAt | date:'medium'}}</span>

                <div class="blog-desc">
                    <p>{{blog.desc}}</p>
                </div>

                <div class="tags">
                    <span *ngFor="let tag of blog.tags">{{tag}}</span>
                </div>
            </div>
        </div>
    </div>
</div>