<div class="container mx-auto px-8 sm:px-8 lg:px-60 m-2">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
    <div class="blog mt-4" *ngIf="!loading">
        <div class="add-blog-container flex justify-end" *ngIf="auth.getIsAuth() && authorId === auth.getUserId()">
            <a [routerLink]="['/edit', blog._id]" class="bg-black-500 hover:underline font-bold p-2 rounded">Edit
                Blog</a>
            <button class="hover:underline font-bold p-2 rounded" (click)="deleteBlog()">Delete Blog</button>
        </div>

        <h3 class="text-2xl font-bold">{{blog.title}}</h3>

        <div class="blog-meta mt-2">
            <p class="text-gray-700">{{blog.desc}}</p>
            <span class="text-gray-500">Author: <a class="text-blue-500 hover:text-blue-700"
                    [routerLink]="['/profile', blog.author]">{{blog.author}}</a></span> |
            <span class="text-gray-500">Published: {{blog.createdAt | date:'medium'}}</span>
            |
            <span class="text-gray-500">Views: {{blog.visitCount}}</span>

            <div class="tags mt-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
                    *ngFor="let tag of blog.tags">{{tag}}</span>
            </div>

            <div class="mt-2">
                <div [innerHTML]="content" class="mt-4">
                </div>
            </div>
        </div>
    </div>

    <div class="loading-card" *ngIf="loading">
        <div class="bg-white rounded-lg shadow-md p-4">
            <div class="animate-pulse">
                <div class="h-4 bg-gray-200 rounded w-1/2 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-1/4 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-3/4 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-1/3 mb-2"></div>
                <div class="h-4 bg-gray-200 rounded w-2/3 mb-2"></div>
            </div>
        </div>
    </div>

    <div class="no-data-card" *ngIf="!loading && !blog">
        <div class="bg-white rounded-lg shadow-md p-4">
            <p>No blog found.</p>
        </div>
    </div>
</div>

<p-scrollTop icon="pi pi-arrow-up" />