<div class="container">
    <app-breadcrumbs [breadcrumbs]="[{name: 'Home', url: '/'}, {name: 'Blogs', url: '/blogs'}]" [active]="blog.title"></app-breadcrumbs>
    <div class="blog">
        <h3>{{blog.title}}</h3>
        <div class="blog-meta">
            <span>Author: {{blog.author}}</span> |
            <span>Published: {{blog.createdAt | date:'medium'}}</span>

            <div class="blog-desc">
                <p>{{blog.desc}}</p>
            </div>
            
            <div class="tags">
                <span *ngFor="let tag of blog.tags">{{tag}}</span>
            </div>

            <div class="blog-content">
                <p>{{blog.content}}</p>
            </div>
        </div>
    </div>
</div>